@import "tailwindcss";

:root {
  --background: #181818;
  --foreground: #ffffff;

  --primary-color: #d8f602;
  --secondary-color: #eaf0bd;
  --accent-color: #5b1dd6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;
  --font-orbitron: var(--font-orbitron), ui-sans-serif, system-ui;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.nav-link {
  @apply text-(--secondary-color) text-lg font-orbitron hover:underline font-bold;
}

.button-primary {
  @apply flex flex-row justify-center items-center px-5 py-2 gap-2 bg-(--primary-color) text-black rounded-tl-sm rounded-tr-2xl rounded-br-sm rounded-bl-sm cursor-pointer hover:opacity-90 transition-opacity font-orbitron font-black;
}

.button-secondary {
  @apply flex flex-row justify-center items-center px-5 py-2 border border-(--secondary-color) rounded-tl-sm rounded-tr-2xl rounded-br-sm rounded-bl-sm cursor-pointer transition-all font-orbitron font-black text-(--secondary-color) hover:opacity-75;
}
